body
{
	background-color: #1a1f14;
	margin: 0p;
	padding: 0px;
}
footer
{
	text-align: center;
	font-style: italic;
	position: absolute;
	color: #fff;
	bottom: 0px;
	width: 100%;
	padding: 20px;
}
.header_m
{
	background-color: #ffbf00;
	text-align: center;
	margin-top: 20px;
	padding: 10px 0px 20px 0px;
}
.logo
{
	padding: 20px;
}
.main_container
{
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
	height: 200px;
}
.bg-mbody
{
	background-color: #1a1f14;
}
.box_1
{
	background-color: #a9ff4d;
}
.box_2
{
	background-color: #20c997;
}
.box_3
{
	background-color: #6610f2;
}
.box_4
{
	background-color: #28a745;
}
.box_5
{
	margin: 20px auto 0px auto;
}
.padd
{
	padding: 20px;
}
.span_b
{
	position: absolute;
	right: -44%;
}